<% include ../views/header %>

<% if (typeof error !== 'undefined' && error != null){ %>
<div class="col-ms-12 text-center">
  <div class="alert alert-danger" role="alert">
    <%= error %>
  </div>     
</div>
<% } else {%>    
<div class="col-ms-12 text-center">
  <img id="loadingGif" class="hidden" src="/images/loading.gif">
  <div id="searchPageAlert" class="alert hidden" role="alert">
  </div>     
</div>
<% } %>    



<style type="text/css">
  .searchForm fieldset .serach-query-row{
    width: 100%;
  }

  @media only screen and (min-width: 769px) {
    .searchForm fieldset .serach-query-row{
      white-space: nowrap;
    }
  }
  
  /*Sandeep Test Added*/
  #map, html, body {
        padding: 0;
        margin: 0;
        height: 100%;
      }

      #panel {
        width: 200px;
        font-family: Arial, sans-serif;
        font-size: 13px;
        float: right;
        margin: 10px;
      }

      #color-palette {
        clear: both;
      }

      .color-button {
        width: 14px;
        height: 14px;
        font-size: 0;
        margin: 2px;
        float: left;
        cursor: pointer;
      }

      #delete-button {
        margin-top: 5px;
      }

      #locationString {
        display: none;
      }
      /*Sandeep Test Added Ends*/
</style>



<!-- MultiStep Form -->
<div class="row">
  <div class="col-md-12 ">
    <form ref='searchForm' class="searchForm" id='uploadForm' action="/search" method="post">
      <!-- progressbar 
      <ul id="progressbar">
        <li class="active">Query</li>
        <li>Refine by Geo-Region</li>
        <li>Refine by Color Space</li>
      </ul>
    -->
      <fieldset>
        <h3 class="mb-3">Search Query </h3>
        <hr>
         <!--
          <div class="col-md-3">
            <input type="text" class="form-control" name="institutioncode" id="institutioncode" placeholder="Institution code" value="">
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" name="collectioncode" id="collectioncode" placeholder="Collection code" value="">
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" name="cataloguenumber" id="cataloguenumber" placeholder="Catalogue number" value="">
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" name="class" id="class" placeholder="Class" value="">
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" name="order" id="order" placeholder="Order" value="">
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" name="family" id="family" placeholder="Family" value="">
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" name="genus" id="genus" placeholder="Genus" value="">
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" name="specificepithet" id="specificepithet" placeholder="Specific epithet" value="">
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" name="infraSpecificepithet" id="infraSpecificepithet" placeholder="Intraspecific Epithet" value="">
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" name="sex" id="sex" placeholder="Sex" value="">
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" name="lifestage" id="lifestage" placeholder="Life stage" value="">
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" name="country" id="country" placeholder="Country" value="">
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" name="patch" id="patch" placeholder="Patch" value="">
          </div>
        -->
          <% if (typeof searchTerms !== 'undefined' && searchTerms != null && input !==null){ %>
            <% console.log(searchTerms); for (var i = 0; i < searchTerms.length; i++) { %>
              <div class="col-md-3">
                <!-- <label for="<%= searchTerms[i].Name %>"><%= searchTerms[i].Placeholder %></label> -->
                <input type="text" class="form-control" name="<%= searchTerms[i].Name %>" 
                  id="<%= searchTerms[i].Name %>" placeholder="<%= searchTerms[i].Placeholder %>" 
                  value="<%= input[searchTerms[i].Name] %>" style="font-weight:bold;">
              </div>
            <% } %>
            <input type="text" name="location" id="locationString">
          <% } else { %>
            <% console.log(searchTerms); for (var i = 0; i < searchTerms.length; i++) { %>
              <div class="col-md-3">
                <!-- <label for="<%= searchTerms[i].Name %>"><%= searchTerms[i].Placeholder %></label> -->
                <input type="text" class="form-control" name="<%= searchTerms[i].Name %>" 
                  id="<%= searchTerms[i].Name %>" placeholder="<%= searchTerms[i].Placeholder %>" 
                  value=""style="font-weight:bold;"  >
              </div>
            <% } %>
          <% } %>
        <button style="display: block; margin: auto;" type="submit" id="" class="btn btn-primary" value="Search!" >Search with GeoReferencing</button>
        <!--
        <div class="col-md-4">
          <button style="display: block; margin: auto;" type="button" id="" class="btn btn-primary" value="">Georeferencing</button>      
        </div>-->
      </fieldset>
    </form>
  </div>
</div>
<br>

<!--<div id="map" style="height: 400px; width: 100%;">
</div>-->

<div id="panel">
  <div id="color-palette"></div>
  <!--<div>
    <button id="delete-button" button type="button" class="btn btn-primary">Delete Selected Shape</button>
  </div>-->
<div id="curpos"></div>
<div id="cursel"></div>
<!--<div id="note"><small>Note: markers can be selected, but are not graphically indicated; can be deleted, but cannot have their color changed.</small></div>-->
</div>
<!--<% if (typeof searchResult !== 'undefined' && searchResult != null){ %>
  <input id="pac-input" type="text" placeholder="Search Box">
<% } %>-->
<!--<div id="map" style="height: 400px; width: 100%;"></div>-->
<style>
  .center {
    margin: auto;
    width: 60%;
    padding: 10px;
  }
  </style>

<% if (typeof searchResult !== 'undefined' && searchResult != null){ %>
  <div class="center" id="map" style="height: 400px; width: 100%;margin: 5px;border: 5px;"></div>
<%}%>


<!-- Search Form -->
<div class="row">
    <div class="col-md-12 ">
          <% if (typeof searchResult !== 'undefined' && searchResult != null){ %>
          <div class="col-ms-12 text-center">
            <div class="alert alert-success" role="alert" style="line-height: 40px;">
              Displaying <%= searchResult.length %> Unique Results 
              <% if (searchResult.length > 0 ){ %>
              (Found <%= searchResult[0].TotalSearchResultCount %> in Total)! 
              <!--<button type="button" class="btn btn-primary" style="position: absolute; right: 10px;" onclick="downloadAllResults()">Download All</button>-->         
              <form ref='downloadForm' class="downloadForm" id='downloadForm' action="/search/downloadSearchResult" method="post">
                <fieldset>
                  <input type="text" class="form-control hidden" name="SearchResultId" id="SearchResultId" placeholder="SearchResultId" value="<%= searchResult[0].SearchResultId %>">
                  <button type="submit" id="" class="btn btn-primary" value="Download All!">Download</button>
                </fieldset>
              </form>
              <% } %>    
            </div>     
          </div>
          <% } %>  
    </div>
</div>
<% if(searchResult !== null){%>
<script>
  searchResult = <%- JSON.stringify(searchResult) %>            
</script>
<div class="table-responsive" style="background: white;">
        <table class="table table-hover text-center" >
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">genus</th>
              <th scope="col">specificEpithet</th>
              <!-- <th scope="col">Infraspecific Epithet</th> -->
              <th scope="col">sex</th>
              <th scope="col">lifestage</th>
              <th scope="col">Patch</th>
              <th scope="col">catalogueNumber</th>
              <th scope="col">Count</th>
              <!-- <th scope="col">url</th> -->
            </tr>
          </thead>
          <tbody>
            <% if(searchResult !== null){ %>
              <% for (var i = 0; i < searchResult.length; i++) { %>
                <tr>
                  <th scope="row"><%= i+1 %></th>
                  <td><%= searchResult[i].genus %></td>
                  <td><%= searchResult[i].specificepithet %></td>
                  <!-- <td><%= searchResult[i].infraspecificepithet %></td> -->
                  <td><%= searchResult[i].sex %></td>
                  <td><%= searchResult[i].lifestage %></td>
                  <td><%= searchResult[i].patch %></td>
                  <td><%= searchResult[i].cataloguenumber %></td>
                  <td><%= searchResult[i].count %></td>
                  <!-- <td><a class="btn" href="<%= searchResult[i].url %>">Download</a></td> -->
                  <td class="hidden metaID"><%= searchResult[i]._id %></td>
                </tr>    
              <% } %>          
            <% } %>
          </tbody>
        </table>
</div>
<% } %>
<% include ../views/footer %>

<script type="text/javascript">
function downloadAllResults() {
  var requestedData =  $(".metaID").map(function(){
    return $(this).context.textContent;
  }).get();
  $.post( "/search/download", {ids: JSON.stringify(requestedData)},function(retData) {
      console.log(retData);
      download("researchData.zip", retData);

      $("body").append("<iframe src='" + retData.url+ "' style='display: none;' ></iframe>");
    } 
  );

  function download(filename, data) {
    var element = document.createElement('a');
    element.setAttribute('href', 'data:text/plain;base64,' + data);
    element.setAttribute('download', filename);

    element.style.display = 'none';
    document.body.appendChild(element);

    element.click();

    document.body.removeChild(element);
  }
}
</script>
 
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCByKaTO4qkh4VKTo06fjVucAFVqGUisr0&callback=initMap&sensor=false&v=3.21.5a&libraries=drawing&signed_in=true&libraries=places,drawing"></script>
<script type="text/javascript">
for (i=0; i < searchResult.length; i++){
  window.addMarker({
      // "decimallatitude": 40.46,
      // "decimallongitude": -70.94
      "decimallatitude": searchResult[i].decimallatitude,
      "decimallongitude": searchResult[i].decimallongitude
  });
}

function loadMap(){
document.getElementById("map").style.display= "block"
}
</script>
